In [1]:
import pandas as pd

df = pd.read_csv('D:\Учеба пробные папки\python_homework\seminar_06.02\california_housing_test.csv')
df.head(n = 5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [2]:
# | Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. 
# Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)
df[(df['population'] > 0)&(df['population'] <= 500)]['median_house_value'].mean()

190157.0918032787

In [15]:
# | Задача 42: Узнать какая максимальная households в зоне минимального значения population
df['population'].min()

5.0

In [16]:
df[df['population'] == 5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.536,275000.0

In [17]:
df[df['population'] == df['population'].min()]['households'].max()

3.0